body {
    background-image: url("../images/Warehouse\ Background.png");
    background-repeat: no-repeat;
    background-color: #222222;
}

/*Typography*/
h1 {
    font-family: "Molle", cursive;
    color: #9E2A25;
}

h2 {
    font-size: medium;
    font-weight: 400;
    color: white;
}

p {
    font-family: "Montserrat", sans-serif;
    color: white;
}

/* NAV*/
ul {
    list-style-type: none;
}
li {
    float: right;
    display: inline-block;
    color: white; 
    text-decoration: none;
    padding: 20px;
}



/*BUTTONS*/
.red {
    padding: 20px;
    border-radius: 20px;
    background: #9E2A25;
    color: white;
}

#gold {
    padding: 20px;
    border-radius: 20px;
    background: #946734;
    color: white;
}

/*FOOTER*/
.footer {
    width: 100%;
    height: 20px;
    font-size: small;
    display: inline-block;
    background-image: linear-gradient(to right, #222222, #946734);
}