body {
    font-family: 'Molle', cursive;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/Warehouse\ Background.png"), cover no-repeat;
    background-color: #222222;
}

h1 {
    font-family: "Molle", cursive;
    color: #9E2A25;
}

p {
    font-family: "Montserrat", sans-serif;
    color: white;
}

nav {
    width: 1157px;
    justify-content: center;
    align-items: center;
}

ul {
    display: inline;
}

.red {
    background: #9E2A25;
    color: white;
}

#gold {
    background: #946734;
    color: white;
}

.footer {
    display: inline;
}