body {
    font-family: 'Molle', cursive;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/Warehouse\ Background.png"), cover no-repeat;
    background-color: #222222;
}

h1 {
    font-family: "Molle", cursive;
    color: #9E2A25;
}

p {
    font-family: "Montserrat", sans-serif;
    color: white;
}

ul {
    list-style-type: none;
}
li {
    float: right;
    display: inline-block;
}

.red {
    background: #9E2A25;
    color: white;
}

#gold {
    background: #946734;
    color: white;
}

.footer {
    display: inline-block;
    background-image: linear-gradient(to right #222222, #946734);
}